.cart-page {
    text-align: center;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-price {
    font-weight: bold;
}

.actions {
    margin-top: 10px;
}

.actions button {
    margin-right: 10px;
}